<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <ul class="nav nav-pills bg-dark fixed-top">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>

    </ul>

    <div class="container body-content">
        @RenderBody()
        
        <footer class="fixed-bottom text-center">
            <hr />
            <p>&copy; @DateTime.Now.Year - Phonebook as ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
